[submodule "src/nodegit"]
	path = src/nodegit
  url = git@github.com:nodegit/nodegit.git
  branch = 6ce1ebfe07f4f59b6aebacc127eff1b7cc9a7424
  shallow = true
  ignore = dirty
[submodule "src/nostr"]
	path = src/nostr
	url = git@github.com:RandyMcMillan/nostr-js.git
  branch = fed4c16e92f5262b0de59befd59d1e4ee9334483
  shallow = true
  ignore = dirty
